.bar {
  padding-bottom: 10px;
}
.bar a {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size: 15px; font-weight: 500; letter-spacing: 1px; line-height: 34px;
  color: #238EFF;
  }
  .bar a, 
  .bar a span {
    display: inline-block; vertical-align: middle; padding: 5px 0;
  }

.nextLink {margin-left: 20px !important;}