.search, .darkSearch {
  position: relative;
}
.search input, .darkSearch input {
  min-width: 280px; height: 40px;
  padding: 0 50px 0 15px;
  font-size: 15px; line-height: 40px; color: rgba(30,38,51,0.4);
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #F3F4F5;
  border: none; border-radius: 3px;
  }
  .darkSearch input {
    color: rgba(255, 255, 255, 0.8);
    background: #424242;
  }

.icon, .darkIcon {
  position: absolute !important; top: -4px; right: 0;
}
.icon span {
  color: rgba(30, 38, 51, 0.4);
  }
  .darkIcon span {
    color: rgba(255, 255, 255, 0.8)
  }
