.card {
  margin-bottom: 27px
  }
  .card-md {
    height: 130px;
  }
  .card-sm {
    min-width: 300px;
    margin-bottom: 0;
    border-bottom: 1px solid #9e9e9e54;
  }
.card figure {
  display: block;
  margin: 5px 10px; padding: 0; 
  background-color: #fff; background-position: 50% 50%;
  background-repeat: no-repeat; background-size: contain;
  border-radius: 3px;
  }
  .card-md figure {
    width: 80px; height: 70px;
  }
  .card-lg figure {
    width: 180px; height: 140px;
  }
  .card-sm figure {
    width: 42px; height: 42px;
  }
.buttonWrap-md,
.buttonWrap-sm {
  padding: 10px;
  }
  .buttonWrap-lg {
    padding: 30px;
  }

.descWrap h3 {
  margin: 0; padding: 0; font-size: 20px; font-weight: bold;
}
.descWrap p {opacity: 0.7}
.descWrap a {color: inherit; text-decoration: none}
  .descWrap a:hover {text-decoration: underline;}

.descWrap-lg {padding: 10px 10px 10px 20px}

.descWrap-sm {padding: 10px;}
  .descWrap-sm h3 {font-size: 14px;}
  .descWrap-sm p {font-size: 10px}

.trackInfo {
  height: 36px; margin: 6px 5px;
  padding: 0 5px 0 10px;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; color: #1E2633; font-size: 13px; line-height: 36px;
  background-color: #deeeff;
  border-radius: 3px;
  overflow: hidden; clear: both;
  box-sizing: border-box;
}
  .trackInfo * {
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .trackInfo p {
    float: left;
    max-width: 60%;
    margin: 0;
  }
  .trackInfo > div {
    float: right;
  }
  .trackInfo span {
    display: inline-block; vertical-align: top;
    line-height: 36px;
  }

  .headsetIcon {
    font-size: 13px; line-height: inherit;
  }
  .trendingIcon {
    margin-left: -8px;
    font-size: 24px; color: red; line-height: inherit;
  }