.card {
  text-align: center;
  padding-bottom: 10px;
}

.card a figure {
  display: inline-block;
  margin: 0; padding: 0;
  width: 100%;
  max-width: 100%;
  background-position: center center;
  background-repeat: no-repeat; background-size: contain;
  transition: all ease-in 400ms;
  -webkit-transition: all ease-in 400ms;
  }
  .card a figure img {display: block; width: 100%; height: auto;}
.card h4 {
  margin: 0; padding: 10px 10px 0;
  font-size: 18px; font-weight: bold;
  text-align: left;
}
.card p {
  margin: 0; padding: 0 10px;
  font-size: 13px;
  text-align: left;
  opacity: 0.75;
}
.card a {
  color: inherit;
  text-decoration: none;
  }
  .card a:hover {text-decoration: underline}
  .card a:hover figure {
    -webkit-filter: sepia(1) saturate(8);
    filter: sepia(1) saturate(8);
  }