.button {
  width: 30px; height: 30px;
  margin: 6px !important;
  background: linear-gradient(180deg, #20B3FF 0%, #238EFF 100%);
  border-radius: 50% !important;
  box-shadow: 0px 0px 0px 6px rgba(35, 142, 255, 0.4);
  }
  .button:disabled {
    background: rgb(0, 0, 0, .4);
    box-shadow: 0px 0px 0px 6px rgba(0, 0, 0, 0.2);
  }

  .md {
    width: 50px; height: 50px;
    }
  .mdIcon {color: white; font-size: 30px;}

  .lg {
    width: 70px; height: 70px;
    }
    .lgIcon {color: white; font-size: 40px;}

  .sm {
    width: 30px; height: 30px;
    box-shadow: 0px 0px 0px 4px rgba(35, 142, 255, 0.4) !important;
    }
    .sm:disabled {box-shadow: 0px 0px 0px 6px rgba(0, 0, 0, 0.2) !important;}
    .smIcon {color: white; font-size: 18px;}

  .spinIcon {
    -webkit-animation: spin 100ms infinite linear;
    animation: spin 1000ms infinite linear;
  }


@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}