.example {
  margin-bottom: 50px;
}

.playerBox {
  position: fixed; z-index: 9998;
  bottom: 0; left: 0;
  width: 100%; height: 64px; background: #212b3a;
  box-shadow: 0px 5px 3px 6px rgba(0, 0, 0, 0.5);  
}

.player {
  flex-grow: 1;
  position: fixed; z-index: 9999;
  left: 0; bottom: 0; right: 0;
  background: #212b3a; color: white;
  box-shadow: 0px 5px 3px 6px rgba(0, 0, 0, 0.5);
  }
  .playerExpanded {
    position: fixed; z-index: 9999;
    left: 0; bottom: 0; right: 0; top: 0;
    background: #212b3a;
    text-align: center;
    }
    .playerExpandedWrap {
      width: 320px; height: 100vh; margin: auto;
    }

.figure {
  display: inline-block;
  margin: 10px 0; padding: 0;
  width: 40px; height: 40px; border-radius: 3px;
  background-color: #ffffff; background-position: center center; background-size: contain; background-repeat: no-repeat;
  cursor: pointer;
  }
  .figureExpanded {
    display: inline-block;
    width: 250px; height: 250px;
    margin: 10px 0 20px; padding: 0;
    background-color: #ffffff; background-position: center;
    background-size: contain; background-repeat: no-repeat;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  }

.description {
  cursor: pointer;
}

.stationTitle {
  margin: 0 0 5px; padding: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px; font-weight: bold; line-height: 19px; color: #fff;
  white-space: nowrap; text-overflow: ellipsis; overflow: hidden;
}
.stationCurrent {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0; padding: 0;
  color: #fff; font-size: 13px; line-height: 15px;
  opacity: .6;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.textCenter {text-align: center}
.lightBorder {
  border: 1px solid rgba(255, 255, 255, .3);
  border-radius: 50%;
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: slideInUp;
}

@keyframes slideOutDown {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    visibility: hidden;
    transform: translate3d(0, 100%, 0);
  }
}

.slideOutDown {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: slideOutDown;
}